{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block modal-header %}{% trans "Reset password" %}{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block form_action %}{% url 'horizon:reset_forgot_pwd' user_id %}{% endblock %}

{% block modal-body %}
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <button type="submit" class="btn btn-primary pull-right">{% trans "Confirm" %}</button>
  <div class="user_div">
    <a href="{% url 'login' %}">{% trans "Back to Log In" %}</a>
  </div>
{% endblock %}
