.applications {
  .nav-tabs {
    border-bottom: none;
    > li {
      &:hover {
        background: none repeat scroll 0 0 padding-box #fff;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
      }
      > a {
        color: #444;
        font-weight: 900;
        &:hover {
          border: none;
          background: none repeat scroll 0 0 padding-box #fff;
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        background: none repeat scroll 0 0 padding-box #fff;
        border-radius: 0 2px 2px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        display: none;
        float: left;
        padding: 10px 0;
        position: absolute;
        width: 200px;
        z-index: 999;
        li {
           a {
            &:hover {
              background: none repeat scroll 0 0 #eee;
              color: #777;
            }
            display: block;
            padding: 5px 15px;
            color: #999999;
          }
        }
      }
    }
  }  
  .empty_msg {
    padding-left:18px;
    color:#666;
    font-style: italic;
  }
  .table_actions {
    min-width: 0;
  }
  ul {
    padding-left: 0;
  }
  h4 {
    margin-bottom: 25px;
    margin-top: 15px;
    padding-left: 10px;
    color: #4083a9;
    font-weight: 600;
    font-size: 13.5px;
    span {
      margin-left: 20px;
      white-space: nowrap;
    }
  }
  .app {
    position: relative;
    padding: 10px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    clear: left;
    .app-img {
      height: 0;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 75%;
      .app-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align:center;
        &:before {
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        img{
          max-width:100% !important;
          height:auto;
          display:block;
          max-height: 80px;
          vertical-align: middle;
          display: inline-block;
        }
      }
      .app-hover {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);
        bottom: 0;
        box-sizing: border-box;
        color: #888;
        font-size: 12px;
        left: 0;
        line-height: 2;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 20px;
        position: absolute;
        text-decoration: none;
        top: 0;
        width: 100%;
        z-index: 3;
        &:hover {
          opacity: 1;
        }
        strong {
          .btn-danger {
             background-color: #fff;
             border-color: #fff;
             color: #666;
             padding: 0;
             &:hover{
               color: $contrib-color;
             }
          }
          color: #444444;
          display: block;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.2;
          margin: 0 0 4px;
        }
        span {
          color: #777777;
          display: block;
          font-size: 13px;
          line-height: 1.4;
          margin: 0 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        em {
          bottom: 0;
          color: #fff;
          display: block;
          font-size: 15px;
          font-style: normal;
          left: 0;
          line-height: 1;
          position: absolute;
          padding: 8px;
          background-color: $contrib-color;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
