{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}new_vcenter_form{% endblock %}
{% block form_action %}{% url 'horizon:openstack_plus:vcenter:new' %}{% endblock %}

{% block modal-header %}{% trans "New vCenter Environment" %}{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "New vCenter Environment" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "New" %}</button>
{% endblock %}
